/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 sep. 2020, 10:06:14
    Author     : Usuario
*/


.root {    
    -fx-background-image: url("/img/background1.gif");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 600;
    -fx-background-position: center center;
}


.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-background-color: linear-gradient(#1CB5E0, #000046); 
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#e81748, #9e1030);
    
}

.label{
    -fx-text-fill: whitesmoke;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 70;
    
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 50, 0.0 , 0 , 10 );
}
