/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 sep. 2020, 22:02:35
    Author     : Usuario
*/

LayoutVehiculo{
    -fx-background-color:  #c8e6c9;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

LayoutVehiculo:hover{
    -fx-background-color:  #1b5e20;
}


.label{
    -fx-text-fill: #1b5e20;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 50, 0.0 , 0 , 10 );
}
LayoutVehiculo:hover .label{
    -fx-text-fill: white;
}
