/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 sep. 2020, 17:19:00
    Author     : Usuario
*/

LayoutOption{
    -fx-background-color:  #e0e0e0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

LayoutOption:hover{
    -fx-background-color:  #000046;
}

LayoutOption:hover .label{
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 30;
    -fx-background-color: linear-gradient(green, #006847); 
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    
}
.button:hover {
    -fx-background-color: linear-gradient(red, #CE1126);
}

.label{
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 50, 0.0 , 0 , 10 );
}
