/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 sep. 2020, 19:56:49
    Author     : Usuario
*/
/*
.root{
   -fx-background-image: url("/recursos/background2.jpg");
   -fx-background-repeat: stretch;
   -fx-background-size: 800 480;
   -fx-background-position: center center;
}
*/

VBox {
    -fx-background-color: #00002b;
}

.label{
   -fx-text-fill: #e0e0e0;
   -fx-font-family: "Arial Narrow";
   -fx-font-weight: bold;
   -fx-font-size: 20;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 50, 0.0 , 0 , 10 );
}

.text-field {
   -fx-background-color: #424242;
   -fx-text-fill: #e0e0e0;
}

.button {
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-color: #1b5e20;
    -fx-text-fill: #e0e0e0;
}
.button:hover {
    -fx-background-color: #2e7d32;
}

.btn-salir{
    -fx-background-color: #b71c1c;
    -fx-text-fill: #e0e0e0;
}
.btn-salir:hover{
    -fx-background-color: #d50000;
}

.titulo{
    -fx-text-fill: whitesmoke;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 70;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 50, 0.0 , 0 , 10 );
}


.subtitulo{
    -fx-padding: 0 0 20 0;
    -fx-text-fill: #e0e0e0;
    -fx-font-family: "Arial Narrow";    
    -fx-font-size: 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 50, 0.0 , 0 , 10 );
}

/*
.radio-button:selected .radio .dot {
    -fx-background-color: #2e7d32;
    -fx-background-insets: 0;
}
*/
.radio-button{
    -fx-text-fill: #e0e0e0;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}