/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 sep. 2020, 22:06:19
    Author     : Usuario
*/


.button {
        -fx-font-weight: bold;
        -fx-font-size: 15;
     -fx-background-color: #1b5e20;
     -fx-text-fill: #e0e0e0;
}
.button:hover {
     -fx-background-color: #2e7d32;
}

.btn-salir{
    -fx-background-color: #d50000;
    -fx-text-fill: #e0e0e0;
}
.btn-salir:hover{
    -fx-background-color: #b71c1c;
}

.btn-scroll{
    -fx-background-color: #ffccbc;
    -fx-text-fill: #f4511e;
}
.btn-scroll:hover{
    -fx-background-color: #f4511e;
    -fx-text-fill: #e0e0e0;
}





/* scroll bars
/* scroll bars
*/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}
 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}
 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.table-column {
  -fx-alignment: CENTER;
}
